<style type="text/css">
@font-face {
    font-family: "maqna";
    src: local("/static/polls/fonts/TravellingTypewriter.ttf") format("truetype");
}




li>a {
	font-family:"maqna";
	font-size:30px;
	color: #B58532;
}
ul {
  list-style-type: none;
}
.wrap{
    color:#fff;
}
body {
  background-color:#ce3635;
  text-align: center;
  color:#000;
  padding-top:1em;
  font-family:"maqna";
  font-size:18px;
}

#qtext{

  font-family:"maqna";
  font-size:18px;
  color:#fff;
}
