<!DOCTYPE html>

<html>
    
<head>
    <title>question_contents</title>
    {%load staticfiles%}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <link rel='stylesheet' href="/static/polls/css/bootstrap.min.css">
    <script src="/static/polls/js/bootstrap.js" type="text/javascript"></script>
    <script src="/static/polls/js/quizz.js" type="text/javascript"></script>
    <link rel='stylesheet' href="/static/polls/css/quest.css">
</head>





<div class="container container-table">
    <div class="row vertical-center-row">
        <div class="text-center col-md-4 col-md-offset-4">
        	<h1 >{{ question.question_text }}</h1>

			{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

			<p id="qtext" =>{{question.question_text2}}</p>
			
			<img src="/static/polls/media/{{question.image.url}}"  style="width:400px;height:300px;">
 			<p> Resposta: <input type="text" name="fname" id="answer"><br></p>
  <button class="btn btn-primary" id ="respond" onclick="setTimeout(function() {
   
responder('{{question.question_text3}}')}, 1000);">Submeter</button>

        	




        </div>


    </div>
</div>



</html>